ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03780e;
  }

  img{
    display: block;
    height: 60px;
    width: 60px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
    font-family: Tahoma, 'Segoe UI',  Geneva, Verdana, sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #025a0d;
  }