@import "../styles.scss";

div.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $other-green;

  div.left{
    width: auto;

    img.logo{
      height: 100px;
      width: 100px;
    }
  }

  div.right{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    button.nav-button{
      margin-left:2em;
      font-family: Ysabeau;
      font-size: 1.5em;
      font-weight: 750;
      color: $white;
      border: none;
      background-color: $blue;
      width: 4em;
      height: 2em;
      border-radius: .25em;
      outline: solid $white .15em;

      &:hover{
        cursor: pointer;
        background-color: $dark-blue;
      }
    }
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03780e;
  }

  img{
    display: block;
    height: 60px;
    width: 60px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
    font-family: Tahoma, 'Segoe UI',  Geneva, Verdana, sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #025a0d;
  }