<!--nav-->

<div class="nav-bar">

    <div class="left">

        <img class="logo" src="../../assets/recycling_logo.png" alt="">

    </div>

    <div class="right">

        <button class="nav-button" routerLink="">Home</button>
        <button class="nav-button" routerLink="rewards">Rewards</button>
        <button class="nav-button" routerLink="quiz">Quiz</button>
        <button class="nav-button" routerLink="map">Map</button>
        <button class="nav-button" routerLink="register" *ngIf="!(getLoggedIn())">Register</button>
        <button class="nav-button" routerLink="login" *ngIf="!(getLoggedIn())">Login</button>

    </div>

    <div class="user">

        <p *ngIf="getLoggedIn()">
            {{ username }} | Points: {{ points }} 
        </p>

    </div>

</div>

<!--page-->
<router-outlet></router-outlet>
