<div class="registerPage">

    <br>

    <h1>Register Page</h1>

    <br>

    <form><!--form action="/action_page.php" <- this sends it to a page called action_page.php, for future reference-->

        <label for="fname">First Name:</label>
        
        <br>

        <input type="text" name="fname" [(ngModel)]="fname">
        
        <br>
        <br>

        <label for="lname">Last name:</label>
        
        <br>

        <input type="text" name="lname" [(ngModel)]="lname">
        
        <br>
        <br>

        <label for="user">Username:</label>
        
        <br>

        <input type="text" id="user" name="user" [(ngModel)]="user">
        
        <br>
        <br>

        <label for="pass">Password:</label>
        
        <br>

        <input type="text" name="pass" [(ngModel)]="pass">
        
        <br>
        <br>

        <label for="cpass">Confirm Password:</label>
        
        <br>

        <input type="text" name="cpass" [(ngModel)]="cpass">
        
        <br>
        <br>

        <input (click)="createUser()" type="button" value="Register">

    </form>
     
</div>

