div.homePage{
    background-color: rgb(189, 207, 187);
}

img{
    
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

img.graph{
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    width: 600px;
}

img.info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 600px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 0px;
}

h2.sub-title{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h3.sectionTitle{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h4.subHeader{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p.text{
    font-size: 30px;
    size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    text-align: center;

    a.inline-link {
        color: blue;
        text-decoration: underline;
        display: inline;
        
        &:hover {
          text-decoration: none;
        }
    }
}

li{
    font-size: 25px;
    size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
}


p.formHeader{
    font-size: 30px;
}

div.commentForm{
    text-align: center;
}

input.formInput{
    height: 50px;
    width: 800px;
    font-size: 30px;
}

button.commentSubmit{
    height: 50px;
    width: 100px;
    font-size: 22px;
    border-radius: 25px;
    text-align: center;
}

p.commentHeader{
    text-align: center;
    font-size: 30px;
    font: bold;
}

div.commentList{
    text-align: center;
}

p.comments{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

