<div class="page">
    <div>
        <h1>The Lafayette Recycling Initiative</h1>
    
        <br>
    
        <h2 class="sub-title">Keeping Lafayette Clean</h2>
    
        <br>
        <br>
    
        <p class="text">
            According to a study by Eunomia, Louisiana ranked 49th out of the 50 states 
            in recycling efforts at only a 4% recycling rate. The Lafayette Recycling 
            Initiative is a citywide project geared towards raising that rate and increasing 
            recycling throughout Lafayette.
        </p>
    
        <br>
        <br>
    
        <p class="text">
            The Lafayette Recycling Initiative offers information on the city of Lafayette’s 
            municipal recycling collection. We also provide information on recycling drop-off 
            locations. These drop-off locations are used by all Louisiana residents and visitors.
        </p>
    
        <br>
        <br>
    
        <p class="text">
            We also have the Lafayette Recycling Initiative rewards program! This program is a 
            collaboration with local sponsors that rewards residents for engaging in the Lafayette 
            Recycling Initiative collection program. Earn points for recycling and creating a 
            cleaner Lafayette tomorrow.
        </p>
    </div>
    
    <div>
        <form id="comment-form">
    
            <input type="text" id="name" name="name"> <br> <br>
    
            <input type="text" id="body" name="body"> <br> <br>
    
            <button type="button" (click)="readAndComment()">Submit</button>
        </form>
    </div>
    
    <div *ngFor="let comment of comments">
        <h3>
            {{comment.name}} <br>
            {{comment.body}}
        </h3>
    </div>    
</div>
