h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2.sub-title{
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.text{
    size: 2em;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.page{
    background-color: rgb(96, 233, 37);
}