<div class="homePage">

    <div class="top">

        <div class="top-left">

            <h3 class="section-title">About LRI</h3>

            <hr>
    
            <p>
                According to a study by Eunomia, Louisiana ranked 49th out of the 50 states 
                in recycling efforts at only a 4% recycling rate. The Lafayette Recycling 
                Initiative is a citywide project geared towards raising that rate and increasing 
                recycling throughout Lafayette.
            </p>
    
            <p>
                The Lafayette Recycling Initiative offers information on the city of Lafayette’s 
                municipal recycling collection. We also provide information on recycling drop-off 
                locations. These drop-off locations are used by all Louisiana residents and visitors.
            </p>
    
            <p>
                We also have the Lafayette Recycling Initiative rewards program! This program is a 
                collaboration with local sponsors that rewards residents for engaging in the Lafayette 
                Recycling Initiative collection program. Earn points for recycling and creating a 
                cleaner Lafayette tomorrow.
            </p>

        </div>

        <div class="top-middle">

            <h1 class="title">Lafayette Recycling Initiative</h1>
    
            <img class="logo" src="../../assets/recycling_logo.png">
    
            <h2 class="slogan">Keeping Lafayette Clean</h2>

        </div>

        <div class="top-right">

            <h3 class="section-title">Lafayette Recycling</h3>

            <hr>
    
            <p>
                In 2021, the recycling rate for Lafayette Parish was 21.42%, down 2% from the previous year. 
                The Lafayette Recycling Initiative is a citywide project geared towards raising that rate and increasing 
                recycling throughout Lafayette.
            </p>

            <div class="graphs">

                <img class="graph" src="../../assets/graph1.png" alt="">
        
                <img class="graph" src="../../assets/graph2.png" alt="">

            </div>

        </div>

    </div>

    <hr>

    <div class="middle">

        <div class="middle-left">

            <h3 class="section-title">Municipal Recycling</h3>

            <hr>

            <p>
                The City of Lafayette Curbside Recycling Program is available to all Lafayette 
                residents who have the "total environmental charge" on their monthly Lafayette Utilities System bill. 
                Registered residents will receive one recycling bin free of charge.
            </p>

            <p>
                The Curbside Recycling Program only accepts clean flattened cardboard, paper, metal cans, 
                and rigid plastic containers. 
            </p>

            <img class="info" src="../../assets/recycleInfo.png" alt="">
    
            <p>
                Republic Services will conduct bulky waste pickup services one week per month. 
                Visit the City of Lafayette’s 
                <a class="inline-link" href="https://lcg.maps.arcgis.com/apps/instant/lookup/index.html?appid=55c59bd221cc46cb9041ae6381688e19" target="_blank" rel="noopener">Curbside Collection Schedule</a>
                page to find your collection week. 
            </p>

            <p>
                Registration for recycling can be completed by calling 337-205-7710 or going to
                <a class="inline-link" 
                href="http://www.acadianawaste.com/recycling-service/" 
                target="_blank" rel="noopener">this page</a>.
            </p>

        </div>

        <div class="vr"></div>

        <div class="middle-right">

            <h3 class="section-title">Computers with Causes</h3>

            <hr>

            <p>
                Donate computers to Charity Louisiana! Donating your used or new desktop computer, laptop, 
                tablet, networking equipment, surplus computers or other electronic gadgets is extremely 
                simple. Your Louisiana Computer Donation is completely tax deductible and will make an 
                amazing difference to families in need and worthy nonprofits worldwide. We accept a wide 
                variety of electronics and computer donations to benefit numerous charitable causes and 
                families. Simply complete the following form to start the process.
            </p>

            <img src="../../assets/computers with causes.png">

            <p>
                Computers with Causes is part of the Giving Center 501c3 nonprofit which is a broad based 
                community expression of charitable giving, both on an individual and corporate level. 
                Our highly effective charitable programs produce a substantial impact on the quality of 
                life for many. Your generous computer donations will help us to continue assisting those 
                in need of a working computer that have no where else to turn. We receive thousands of 
                requests per year through our computer application page and make every effort possible 
                to help those less fortunate. We invite anyone with a computer they no longer need to 
                donate today!
            </p>
    
            <p> Checkout the 
                <a clss="inline-link" 
                href="https://www.computerswithcauses.org/computer-donation-louisiana/" 
                target="_blank" rel="noopener">Computers With Causes
                </a>
                site to learn more!
            </p>

        </div>

    </div>

    <hr>

    <div class="bottom">

        <div class="bottom-left">

            <h3 class="section-title">Bulky Waste Collection Items</h3>

            <hr>

            <ul>
                <li *ngFor="let item of bwcCollection">{{ item }}</li>
            </ul>

            <p>
                Soft plastics, electronics, and glass can be dropped off at an appropriate drop-off site. 
                You can check for nearby locations 
                <a class="inline-link" routerLink="map">here</a>.
            </p>

        </div>

        <div class="vr"></div>

        <div class="bottom-right">

            <h3 class="section-title">Household Hazardous Waste Day</h3>

            <hr>

            <p>
                Household Hazardous Waste Day is a biannual event hosted by Lafayette Parish 
                Public Works Department in partnership with CGI. During the June 2022 Household 
                Hazardous Waste Day, 20 tons of hazardous waste were collected. 
                A date and location for upcoming Hazardous Waste Events will be posted near the 
                event date.
            </p>

            <div class="lists">

                <div class="list">

                    <h4 class="list-title">Chemicals</h4>

                    <ul class="chemicals">
                        <li *ngFor="let item of cAccepted">{{ item }}</li>
                    </ul>

                </div>

                <div class="list">

                    <h4 class="list-title">Electronics</h4>

                    <ul class="electronics">
                        <li *ngFor="let item of eAccepted">{{ item }}</li>
                    </ul>

                </div>

            </div>

        </div>

    </div>
    
    <div class="commentForm">
        <p class="formHeader">Leave a comment</p>
        <form id="comment-form">
    
            <input class="formInput" type="text" name="body" [(ngModel)]="body"> <br> <br>
    
            <button class="commentSubmit" type="button" (click)="readAndComment()">Submit</button>
        </form>
    </div>
    

    <div class="commentsDisplay">
        <p class="commentHeader">Comments</p>
        <div class="commentList" *ngFor="let comment of comments">
            <div class="comment">
                <div class="commentTop">
                    <div class="commentName">
                        {{comment.name}} 
                    </div>
                    <div class="commentDate">
                        {{ comment.time | date:'short' }}
                    </div>
                </div>
                <div class="commentBottom">
                    {{comment.body}}
                </div>
            </div>
        </div> 
    </div> 
</div>