@import "../../styles.scss";

div.homePage{
    background-color: $white;

    div.top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 1em;

        div.top-left, div.top-middle, div.top-right{
            width: 30%;
            display: flex;
            flex-direction: column;

            hr{
                width: 90%;
            }

            p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.25em;
                text-align: justify;
                margin: 30px;
                margin-bottom: 0;
            }

            div.graphs{
                display: flex;
                flex-direction: column;

                img.graph{
                    width: 400px;
                    height: 200px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 1em;
                }
            }
        }

        div.top-left{
            p{
                font-size: 1.5em;
            }
        }

        div.top-middle{
            border-right: solid 1px $black;
            border-left: solid 1px $black;

            h1.title{
                color: $black;
                font-size: 4em;
                margin-bottom: 0;
            }
    
            img.logo{
                width: 20em;
                height: 20em;
                margin-left: auto;
                margin-right:auto;
            }
    
            h2.slogan{
                color: $black;
                font-size: 3em;
                margin-top: 0;
            }

            h1.title, h2.slogan{
                font-family: Ysabeau;
                text-align: center;
            }
        }
    }

    hr{
        width: 90%;
    }

    div.middle{
        padding: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        div.vr{
            border-right: solid $black .5px;
        }

        div.middle-left, div.middle-right{
            width: 45%;
            display: flex;
            flex-direction: column;

            hr{
                width: 92%;
            }

            p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.25em;
                text-align: justify;
                margin: 30px;
                margin-bottom: 0;
            }

            img.info{
                width: 380px;
            }

            img{
                width: 400px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 1em;
            }
        }
    }

    div.bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2em;

        div.vr{
            border-right: solid $black .5px;
        }

        div.bottom-left, div.bottom-right{
            width: 45%;

            hr{
                width: 92%;
            }

            p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.25em;
                text-align: justify;
                margin: 30px;
                margin-bottom: 0;
            }
        }

        div.lists{
            display: flex;
            flex-direction: row;

            h4.list-title{
                font-family: Ysabeau;
                font-size: 1.5em;
                margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 0;
            }

            ul.electronics{
                columns: 2;
            }
        }

        li{
            font-size: 1em;
            size: 2em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    h3.section-title{
        font-family: Ysabeau;
        color: $dark-green;
        font-size: 2em;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 0;
    }

    div.rewards-program{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

// COMMENTS SECTION --------------------------------------------------------------------------


p.formHeader{
    font-size: 30px;
}

div.commentForm{
    text-align: center;
}

input.formInput{
    height: 50px;
    width: 800px;
    font-size: 30px;
}

button.commentSubmit{
    height: 50px;
    width: 100px;
    font-size: 22px;
    border-radius: 25px;
    text-align: center;
}

p.commentHeader{
    text-align: center;
    font-size: 30px;
    font: bold;
}

div.commentList{
    text-align: center;
}

p.comments{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}