<div class="rewardsPage">
    <h1>Rewards Page</h1>

    <p class="text">
        The Lafayette Recycling Initiative is a collaboration with local sponsors that rewards residents 
        for engaging in the collection program. Now you can earn points for recycling that can be turned in for rewards.
    </p>

    <div class="userPoints">
    {{ userPoints }}
    </div>
    <br>
    <div *ngFor="let reward of rewardsList">
        <p class="rewards">
            {{reward.cost}} &nbsp; &nbsp; &nbsp;
            {{reward.item}} &nbsp; &nbsp;
            {{reward.description}} &nbsp; &nbsp;
            <button type="button" (click)="claimReward(reward.cost)">
                Claim this reward
            </button>
        </p>
    </div> 

    <div class="codeForm">
        <form>
            <input class="codeInput" type="text" name="code" [(ngModel)]="code"> <br> <br>
        
            <button class="codeSubmit" type="button" (click)="addPoints()">Submit</button>
        </form>
    </div>
</div>