@import "../../styles.scss";

div.rewardsPage {
    padding: 1em;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Ysabeau;

    p.text{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        text-align: justify;
        margin: 30px;
        margin-bottom: 0;
    }

    p.rewardTitle{
        display: flex;
        font-size: 60px;
        justify-content: center;
        align-items: center;
    }

    p.rewardClaim{
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }

    div.rewardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        //gap: 1000px;
        font-size: xx-large;
    
        div.reward {
            width: 1000px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 30px;
            height: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
        
            div.cost{
              width: 100%;
              font-size: 60px;
            }
            div.name{
                width: 100%;
            }
            div.description{
                width: 100%;
            }

            button.claimReward{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                background-color: $blue;
                border: none;
                border-radius: .25em;
                outline: solid $black .1em;
                height: 2.5em;
                width: 5em;
                font-size: 1.5em;
                font-weight: 750;
                color: $white;

                &:hover{
                background-color: $dark-blue;
                cursor: pointer;
                }
            }
        }
    }
    
    div.codeForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p.codeTitle{
            font-size: 50px;
        }

        p.codeTitle{
            font-size: 30px;
        }

        input.codeInput{
            text-align: center;
            width: 600px;
            height: 120px;
            border: none;
            border-radius: .5em;
            outline: solid $black 1.5px;
            font-size: 70px;

            &:hover{
                background-color: $lite-gray;
                cursor: pointer;
            }
        }
        
        button.codeSubmit{
            margin-left: auto;
            margin-right: auto;
            margin-top: 2em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: $blue;
            border: none;
            border-radius: .25em;
            outline: solid $black .1em;
            height: 70px;
            width: 120px;
            font-size: 1.5em;
            font-weight: 750;
            color: $white;

            &:hover{
                background-color: $dark-blue;
                cursor: pointer;
            }
        }
    }
    
    
}

