div.loginPage{
    background-color: rgb(189, 207, 187);
    height: 100vh;
    text-align: center;
}

h1{
    margin: 0px;
}

label{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}