<div class="loginPage">
    <br>
    <h1>Login Page</h1>
    <br>
    <div>
        <br>
        <form><!--form action="/action_page.php" <- this sends it to a page called action_page.php, for future reference-->
            <label for="user">Username:</label><br>
            <input type="text" id="user" name="user"><br>
            <br>
            <label for="pass">Password:</label><br>
            <input type="text" id="pass" name="pass"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>



