<div class="loginPage">

    <h1>Login</h1>

    <form><!--form action="/action_page.php" <- this sends it to a page called action_page.php, for future reference-->

        <div class="field">

            <label for="user">Username:</label>
            <input type="text" id="user" name="user" [(ngModel)]="user">
            
        </div>

        <div class="field">

            <label for="pass">Password:</label>
            <input type="password" name="pass" [(ngModel)]="pass">
            
        </div>

        <button type="button" (click)="checkLogin()">Login</button>

    </form>
     
</div>

