<div class="loginPage">

    <br>

    <h1>Login Page</h1>

    <br>

    <div>

        <br>
        
        <form novalidate>

            <label for="user">Username:</label>
            
            <br>

            <input type="text" name="user" [(ngModel)]="user">
            
            <br>
            <br>

            <label for="pass">Password:</label>
            
            <br>

            <input type="text" name="pass" [(ngModel)]="pass">
            
            <br>
            <br>

            <button (click)="checkLogin()" type="button" value="Login">Submit</button>

        </form>

    </div>

</div>



