<div class="mapPage">
  <h1>Recycle Center Locator</h1>
  <div class="map-container"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="mapClicked($event)">
  </div>

  <input type="checkbox" id="Automotive" name="Automotive" value="=Automotive" (change)="onCheckboxChange($event)" checked>
  <label for="Automotive">Automotive</label>

  <input type="checkbox" id="Electronics" name="Electronics" value="=Electronics" (change)="onCheckboxChange($event)" checked>
  <label for="Electronics">Electronics</label>

  <input type="checkbox" id="Plastic" name="Plastic" value="=Plastic" (change)="onCheckboxChange($event)" checked>
  <label for="Plastic">Plastic</label>

  <input type="checkbox" id="Paper" name="Paper" value="=Paper" (change)="onCheckboxChange($event)" checked>
  <label for="Paper">Paper</label>

  <input type="checkbox" id="Metal" name="Metal" value="=Metal" (change)="onCheckboxChange($event)" checked>
  <label for="Metal">Metal</label>

</div>

