<div class="mapPage">
  <h1>Recycle Center Locator</h1>
  <div class="map-container"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="mapClicked($event)">
  </div>

  <div class="filterOptions">
    <input class="option" type="checkbox" id="Automotive" name="Automotive" value="=Automotive" (change)="onCheckboxChange($event)" checked>
    <label class="label" for="Automotive">Automotive</label>

    <input class="option" type="checkbox" id="Electronics" name="Electronics" value="=Electronics" (change)="onCheckboxChange($event)" checked>
    <label class="label" for="Electronics">Electronics</label>

    <input class="option" type="checkbox" id="Plastic" name="Plastic" value="=Plastic" (change)="onCheckboxChange($event)" checked>
    <label class="label" for="Plastic">Plastic</label>

    <input class="option" type="checkbox" id="Paper" name="Paper" value="=Paper" (change)="onCheckboxChange($event)" checked>
    <label class="label" for="Paper">Paper</label>

    <input class="option" type="checkbox" id="Metal" name="Metal" value="=Metal" (change)="onCheckboxChange($event)" checked>
    <label class="label" for="Metal">Metal</label>
  </div>
  
</div>

